h4 {
  text-align: center;
  margin-block: 10px 5px;
}

.table {
  display: flex;
  width: fit-content;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 20px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex-direction: column;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  min-width: 120px;
  padding: 5px;
  border: 1px solid black;
}

.bold {
  font-weight: 700;
}